@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap');


:root {
    --primaryColor: #e49273;
    --secondaryColor: #2b4570;
    --tertiaryColor: #a8d0db;
    --headingFont: 'Arvo', serif;
    --bodyFont: 'Lato', sans-serif;
}

.App {
  text-align: center;
  font-size: 125%;
  font-family: var(--bodyFont);
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  height: 100vh;
}

h1 {
  font-family: var(--headingFont);
  font-size: 6rem;
  margin-top: 0px;
}

.rhymeMe {
  width: 500px;
  height: 500px;
  background-color: var(--primaryColor);
  margin: 0 auto;
  overflow: scroll;
}

